@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&family=Sofadi+One&display=swap');

*{                                                         /*Aqui estamos mexendo em tudo do projeto, serio tudo mesmo. Então não vai fazer ***** por favor.*/
    padding:0;                                             /*O padding define um espaço antes da borda, basicamente impede o conteudo de ficar colado na borda*/
    margin:2px;                                            /*O margin define um espaço entre os itens, basicamente impede o conteudo de ficar colado um no outro tipo texto um por cima do outro*/
    box-sizing: border-box;                                /*Uma Caixa para onde o formulario vai ficar dentro, basicamente a borda dele*/
    font-family: "Sansita Swashed", system-ui;             /*Aqui estamos aplicando a fonte que importamos no inicio*/
}
#background-video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
body{
    font-family: "Sansita Swashed", system-ui;
    background-color: black;
}
.tela-login{
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:rgba(245, 245, 245, 0.212);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #ffffff59;
    backdrop-filter:blur(8px);
    text-align: center;
    
}
.login {
    text-align: center;
    margin: 30px;
}

input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 10px 6px #0000001c;
    font-size: 0.8rem;
    outline: none;
}
input:hover { /*Cor quando o mouse passar por cima dos inputs(Favor não deixar transparente) */
    background-color: #00000075;
}
.login-button button{
    font-family: "Sansita Swashed", system-ui;
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #000000;
    color: azure;
    font-style: italic;
    font-size:medium;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    
}
.login-button button:hover { 
    background-color: #ff0000;
}

.login-button button a { 
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-style: italic;
    font-size:medium;
}
.cadastre-sebutton button{
    font-family: "Sansita Swashed", system-ui;
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #000000;
    color: azure;
    font-style: italic;
    font-size:medium;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.cadastre-sebutton button:hover{
    background-color: #2600ff;
}
.cadastre-sebutton button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-style: italic;
    font-size:medium;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(9, 255, 0);
    background-color: transparent;
    text-decoration: underline;
  }